*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(100deg, #153677, #4e085f);
    padding: 10px;
}

.list-img{ /* Only covers image of list, meant for the header question */
    width: 30px;
    height: auto;
}

.todo-app{
    width: 100%;
    max-width: 500px;
    background: white;
    margin: 130px auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    text-align: center;
    margin-bottom: 30px;
}

.handle-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
    font-weight:20px;
}

button{
    border: none;
    outline: none;
    background: #153677;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

ul li{
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;

}